@charset "UTF-8";
/* CSS Document */

@font-face
{
	font-family: grammarTrainerFont;
	src: url(DejaVuSans.ttf);
}
@font-face
{
	font-family: grammarTrainerFont;
	src: url(DejaVuSansCondensed-Bold.ttf);
	font-stretch: condensed;
	font-weight: bold;
}

@media only screen and (orientation:portrait)
{
	#portraitAlertMessage
	{
		display: block;
		position: absolute;
		border-radius: 10px;
		margin: auto;
		top: 50px;
		left: 20px;
		padding: 500px 40px;
		z-index: 2;
		background:#b0d1f0;
		color:#26527c;
		font-size: 24px;
		font-weight:bold;
		text-align: center;
		z-index:11;
	
	}
	
	#portraitAlertMessage img{
		display:block;
		position:relative;
		float:left;
	}
}

@media only screen and (orientation:landscape)
{
	#portraitAlertMessage
	{
		display: none;
	}
}

body
{
	background:#0e3b66 url(img/canvasTextureTransparent.png) repeat;
	/*width: 100%;*/
	height: 688px;
	font-family: grammarTrainerFont, sans-serif;
}

#captionBox {
	margin:0;
	position: absolute;
	top: 185px;
	left: 0px;
	height: 70px;
	width: 533px;
	background-color:#FFFFFF;
	opacity:0.6;
}

p.caption  {
	margin:10px;
	position: absolute;
	top: 185px;
	left: 0px;
	height: 70px;
	width: 525px;
}

#quoteBox {
	margin:0;
	position: absolute;
	top: 10px;
	left: 350px;
	width:150px;
	height:44px;
	background-color:#FFFFFF;
	border-radius: 10px;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}

#quoteBoxAnswer {
	margin:0;
	position: absolute;
	top: 64px;
	left: 350px;
	width:150px;
	height:44px;
	background-color:#FFFFFF;
	border-radius: 10px;
	border-width:2px;
	border-style:solid;
	border-color:#000000;
}

#speechBubble {
	margin:0;
	position: absolute;
	top: 10px;
	left: 350px;
}

#oralpromptText {
	margin:0;
	position: absolute;
	top: 74px;
	left: 540px;
	width: 200px;
    height: 150px;
    border-radius:12px;	
}

#oralPromptButton {
    background:url(img/OralPromptBtn.png);
    margin:0;
    position: absolute;
    top: 0px;
    left: 540px;
    width: 64px;
    height: 64px;
    border-radius:12px;	
}

p.speechLeft {
	padding:10px;
	position: relative;
	width: 150px;
	height: 75px;
	background-color:#FFFFFF;
	border: 2px solid #000000;
	border-radius: 10px;

}

p.speechLeft:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -38px;
	top: 15px;
	border: 19px solid;
	border-color: #000000 #000000 transparent transparent;
}

p.speechLeft:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -32px;
	top: 17px;
	border: 19px solid;
	border-color: #fff #fff transparent transparent;
}

p.speechRight {
	padding:10px;
	position: relative;
	width: 150px;
	height: 75px;
	background-color:#FFFFFF;
	border: 2px solid #000000;
	border-radius: 10px;

}

p.speechRight:before
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 170px;
	top: 15px;
	border: 19px solid;
	border-color: #000000 transparent transparent #000000;
}

p.speechRight:after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 165px;
	top: 17px;
	border: 19px solid;
	border-color: #fff transparent transparent #fff;
}


#loadingScreen
{
	position:absolute;
	width:100%;
	height:100%;
	margin-left:-8px;
	margin-top:-8px;
	background-color:#003366;
	z-index:15;
	
}

#loadingScreen p
{
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	position: fixed;
	top: 300px;
	left: 480px;
}

#mainContent
{
	color: #ffffff;
}

#mainContent h1
{
	text-align: center;
}

#mainContent a
{
	color: #F00000;
}

#lessonExerciseContainer
{
	text-align: left;
	font-size: 18px;
	color: #ffffff;
	position: fixed;
	top: 10px;
	left: 20px;
}

#lessonExerciseContainer #exerciseHeading
{
	position: relative;
	top: -20px;
}

#imageAnimationContainer
{
	position: fixed;
	top: 10px;
	left: 240px;
}

#multipleChoiceContainer
{
	position: fixed;
	top: 286px;
	left: 830px;
}

#multipleChoiceContainer #multipleChoiceTab
{
	background:#fdd79f url(img/watercolorTextureTransparent.png) repeat;
	color: #522611;
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);

}

#multipleChoiceDisplay
{
	position:absolute;
	width:100%;
	height:100%;
	margin-left:-8px;
	margin-top:-28px;
	background-color:#000;
	opacity: 0.5;
	z-index:10;
	
}

#multipleChoiceBox
{
	position:absolute;
	top:530px;
	left:500px;
	background:#fdd79f url(img/canvasTextureTransparent.png) repeat;
	color: #522611;
	font-size: 18px;
	font-weight: bold;
	width:500px;
	height:200px;	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index:11;
}

#multipleChoiceBox p
{
	margin-left: 20px;
	margin-right: 20px;
}

#multipleChoiceCloseBtn
{	
	position:absolute;
	top:240px;
	left:445px;
	background:#7f3b1b url(img/watercolorTextureTransparent.png) repeat;
	color: #fdd79e;
	text-align:center;
	font-size: 42px;
	padding-top:5px;
	font-weight: bold;
	width:50px;
	height:50px;	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#progressContainer
{
	position: fixed;
	font-size: 18px;
	color: #ffffff;
	top: 80px;
	left: 20px;
}

#progressContainer #dotContainer
{
	position: relative;
	background:#08324f url(img/canvasTextureTransparent.png) repeat;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	top: -10px;
	padding: 4px;
}

#progressContainer #dotContainer .dotImage
{
	margin: 2px 5px;
}

#questionContainer
{
	background:#b0d1f0 url(img/watercolorTextureTransparent.png) repeat;
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: #000000;
	position: fixed;
	top: 330px;
	left: 0;
	z-index:2;
	
	-webkit-box-shadow:0 0 3px 3px rgba(0,0,0,0.4);

}

#questionContainer p
{
	position: relative;
	top: -10px;
	left: 10px;
}

#answerContainer
{
	background:#bf5e30 url(img/watercolorTextureTransparent.png) repeat;
	width: 100%;
	position: fixed;
	top: 360px;
	left: 0;
}

#answerContainer #answerFeedbackBox
{
	/*
	border-style: outset;
	border-color: #e5a672;
	background-color: #fdd79e;
	*/
	color: #ffffff;
	font-size: 16px;
	width: 790px;
	max-height: 30px;
	position: relative;
	top: 2px;
	left: 10px;
}

#answerContainer #answerFeedbackBox p
{
	position: relative;
	top: -5px;
	left: 4px;
}

#answerContainer #answerLabel
{
	position: relative;
	top: -50px;
	font-size: 24px;
}

#answerContainer #droppableAnswerBox
{
	background-color: #ffffff;
	width: 820px;
	height: 52px;
	border-radius: 3px;
	line-height: 40px;
	position: relative;
	top: -10px;
	left: 10px;
	
	-webkit-box-shadow:inset 4px 6px 6px rgba(0,0,0,0.4);
}

#answerContainer #droppableAnswerBox p
{
	position: relative;
	left: 4px;
}

#answerContainer #submitButton
{
	background:#fdd79f url(img/watercolorTextureTransparent.png) repeat;
	border-radius: 10px;
	color: #522611;
	position: relative;
	padding: 19px 10px 10px;
	height: 25px;
	width: 55px;
	text-align:center;
	top: -66px;
	right: -844px;
	font-size: 14px;
	font-stretch: condensed;
	font-weight: bold;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);
}

#answerContainer #deleteButton
{
	background:#7f3b1b url(img/watercolorTextureTransparent.png) repeat;
	border-radius: 10px;
	color: #ffffff;
	position: relative;
	padding: 20px 10px 10px;
	height: 25px;
	text-align:center;
	width: 44px;
	top: -121px;
	right: -930px;
	font-size: 14px;
	font-stretch: condensed;
	font-weight: bold;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);
}

#answerCategoryTabContainer
{
	background:#bf5e30 url(img/watercolorTextureTransparent.png) repeat;
	width: 100%;
	height: 200px;
	font-size: 20px;
	position: fixed;
	top: 628px;
	left: 0;
	font-weight: bold;
	font-stretch: condensed;
	color: #ffffff;
}

#answerCategoryTabContainer ul
{
	list-style: none;
}

#answerCategoryTabContainer ul li
{
	display: inline;
	font-size: 20px;
	color: #522611;
	padding: 14px 16px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);
}

#answerCategoryTabContainer ul li.answerCategoryTab{
	background:#fdd79f url(img/watercolorTextureTransparent.png) repeat;
	color: #48220f;	
}

#answerCategoryTabContainer ul li.active {
	background:#7f3b1b url(img/canvasTextureTransparent.png) repeat;
	color:#ffffff;
	z-index:3;
	position:relative;
	top:-1px;
	
	-webkit-box-shadow:0 3px 2px rgba(0,0,0,0.4), inset -3px -3px 3px rgba(0,0,0,0.2);

}

#selectedAnswerList
{
	background:#7f3b1b url(img/canvasTextureTransparent.png) repeat;
	width: 100%;
	height: 176px;
	position: fixed;
	top: 460px;
	left: 0;
	z-index:2;
	
	-webkit-box-shadow:0 3px 2px rgba(0,0,0,0.4);

}

.draggableWord
{
	background:#b0d1f0 url(img/watercolorTextureTransparent.png) repeat;
	position: absolute;
	border-radius: 10px;
	font-size:18px;
	color: #000000;
	font-stretch: condensed;
	font-weight: bold;
	z-index: 5;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);
}

.draggableWord .listWord
{
	position: absolute;
	z-index: 5;
}

/* Next Button */

#nextButton{
	float:right;
	width:55px;
	height:25px;
	position:fixed;
	left:912px;
	top:25px;
}

/* Menu Button */

#menuButton{
	float:right;
	width:55px;
	height:25px;
	position:fixed;
	left:920px;
	top:260px;
}

/*
Note that a and a:hover are placeholders.

For when exercise is completed, next button is active
*/
/*
#nextButton a
{
	display:block;
	background:#fdd79f url(img/watercolorTextureTransparent.png) repeat;
	border-radius: 10px;
	color: #522611;
	position: relative;
	padding:12px 10px 8px;
	height: 25px;
	width: 55px;
	text-align:center;
	font-size: 16px;
	font-stretch: condensed;
	font-weight: bold;
	
	-webkit-box-shadow:inset 3px 3px 3px rgba(255,255,255,0.2), inset -3px -3px 3px rgba(0,0,0,0.2);
}
*/

/* For when exercise is not completed, next button is inactive (not selectable)*/
#nextButton a
{
	display:block;
	background:#08324f;
	border-radius: 10px;
	color: #26527c;
	position: relative;
	padding:12px 10px 8px;
	height: 25px;
	width: 55px;
	text-align:center;
	font-size: 16px;
	font-stretch: condensed;
	font-weight: bold;
	text-decoration: none;
	
	-webkit-box-shadow: 0 0 0 transparent;
}

#menuButton a
{
	display:block;
	background:#fdd79f url(img/watercolorTextureTransparent.png) repeat;
	border-radius: 10px;
	color: #522611;
	position: relative;
	padding:12px 10px 8px;
	height: 25px;
	width: 55px;
	text-align:center;
	font-size: 16px;
	font-stretch: condensed;
	font-weight: bold;
	text-decoration: none;
}


/*Video CSS Code*/

#video_box {
	position: relative; 
	}
#video {
	background-color: #000;
}
